{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Highlight website </title>
        {% endif %}
    </head>
    <body>
        
        <h3> Title News</h3>
         <ul>
            {{ macro.displayNewsList(title)}}
        </ul>
        <h3> Author News </h3>
         <ul>
            {{ macro.displayNewsList(author)}}
        </ul>
        <h3>Description News</h3>
         <ul>
            {{ macro.displayNewsList(description)}}
        </ul>
    </body>
</html>
