{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
        <!-- <li>{{ news.name}}</li> -->

<div class="card md3 col-nd-3">
    <a class="list-group-item list-group-item-action active" >
        <li style="list-style:none">{{news.name}}</li>
        </a>
        <p>{{news.description}}</p><br>
        <p>{{news.category}}</p><br>
        <p>{{news.country}}</p><br>
        <a href="/news/{{news.id}}&35">go to url</a>
</div>
{% endfor %}

{% endmacro %}

{% macro displayArticlesList(articles_list) %}

    {% for news in articles_list %}
        

<div class="card md3 col-nd-3">
    <a class="list-group-item list-group-item-action active" >
        <li style="list-style:none">{{news.name}}</li>
        </a>
        <img src={{news.urlToImage}} height=200PX,width=300px>
        <p>{{news.author}}</p><br>
        <p>{{news.title}}</p><br>
        <p>{{news.description}}</p><br>
        <a href={{news.url}}>Read more</a>
        <p>{{news.publishedAt}}</p><br>
        
</div>
{% endfor %}

{% endmacro %}